{% extends 'app/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

 <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fa fa-unlock"></i> Password reset</h4>
            </div>
            <div class="card-body">
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}

                <input type="submit" value="Reset" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}